body {
    height: 200vh;
  }
  
  .overlay {
    position: relative;
    width: 500px;
    height: 300px;
    background-image: url(https://www.w3schools.com/w3images/photographer.jpg);
    background-size: cover;
    color: white;
    font-family: sans-serif;
    text-align: center;
  }
  
  h1 {
    padding-top: 70px;
  }
  
  .overlay::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 500px;
    height: 300px;
    top: 0;
    left: 0;
  }
  
  .overlay:hover::after {
    background-color: rgba(247, 134, 134, 0.664);
  }